@import '../vars.css';

.btn{
    width: 40%;
    /* background-color: #F5F3F0; */
    border: 2px var(--color-yellow) solid !important;
	color: var(--color-yellow) !important;
    border-radius: 15px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 10px;
}

.btn:hover{
    background-color: var(--color-yellow);
	color: var(--color-black) !important;
    transition: all ease 0.75s;
    cursor: pointer;
}