@import '../vars.css';

.navLinkText{
    width: 10em;
    height: 4em;
    background-color: transparent;
    border: 2px var(--color-yellow) solid;
    border-radius: 10px;
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
    margin-top: 1em;
    text-decoration: none;
    color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinkText:hover{
    background-color: var(--color-yellow);
    color: var(--color-black);
    transition: all ease 0.75s;
    cursor: pointer;
}

.navRoot{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px ) {
    .navRoot{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 4em;
    }

    
}