.mainLayout{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
}
.mlBody{
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}
.leftBar{
    background-color: #F5F3F0;
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    height: 300px;
    width: 200px;
    border-radius: 10px;
    padding-top: 20px;
}
.children{
    /* display: flex;
    justify-content: center; */
    background-color: #F4F2EF;
    /* margin-left: 5px; */
    width: 100%;
    border-radius: 10px;
}
.topNav{
    width: 100%;
    height: 50px;
    display: none;
}

@media only screen and (max-width: 600px ) {
    .leftBar{
        display: none;
    }
    .topNav{
        display:inherit;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}