@import '../components/vars.css';

.mainLayout{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.mlBody{
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}
.leftBar{
    background-color: var(--color-black);
    width: 20%;
    padding-bottom: 50%;
    border-radius: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}



.children{
    background-color: var(--color-white);
    /* margin-left: 15px; */
    width: 100%;
    border-radius: 10px;
}
.topNav{
    width: 100%;
    display: none;
    background-color: var(--color-black);
}

@media only screen and (max-width: 600px ) {
    .leftBar{
        display: none;
    }
    .topNav{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height:auto;
        padding-bottom: 0.5em;
    }

}